<h1 class="title">ようこそ<span class="title-span">Bookers</span>へ<span class="title-span">!</span></h1>

<div class="top_content">
  <p class="top_content-text">
    <span class="top_text-span">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
    印象を共有し交換することができます
  </p>

  <%= link_to "start", books_path %>
</div>